@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: white;
}

html{
    scroll-behavior: smooth;
}
/* Nav Bar and logo */
#logo_banner{
    display: block;
    width: 100vw;
    height: auto;
    border-color: black;
    border-style: solid;
    
}
.nav_bar{
    display: flex;
    width: 100vw;
    height: 6vh;
    position: sticky;
    justify-content: center;
    padding-top: 0.5vh;
    background-color: white;
}

.nav_list{
    display: flex;
    min-width: 44%;
    max-width: fit-content;
    height: 100%;
    justify-content: space-evenly;
    background:  #e9ecef;
    border-radius: 50px;
    gap: 5px;
}

.nav_list a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;  
}
.nav_list a:hover{
    color: #FF2400;
}
.nav_list li{
    list-style: none;
    align-self: center;
    
}

/* Weekly report */
.weekly_container{
    min-width: 94vw;
    max-width: 94vw;
    min-height: 12vh;
    margin: auto;
    
}

.report_menu{
    overflow: auto;
    white-space: nowrap;
    background-color: #e9ecef; 
    border: 1px solid #e9ecef; 
    border-radius: 10px; 
}
.weekly_container h2{
    margin-bottom: 0.5vh;
    margin-left: 2vw;
    color: blue;
}
.report_menu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    /* border-radius: 50px; */
  }
  .report_menu a:hover {
    background-color: white;
    color: #FF2400;
  }

