@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Weekly report */
.weekly_container{
    min-width: 94vw;
    max-width: 94vw;
    min-height: 12vh;
    margin: auto;
    
}

.report_menu{
    overflow: auto;
    white-space: nowrap;
    background-color: #e9ecef; 
    border: 1px solid #e9ecef; 
    border-radius: 10px; 
}
.weekly_container h2{
    margin-bottom: 0.5vh;
    margin-left: 2vw;
    color: blue;
}
.report_menu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    /* border-radius: 50px; */
  }
  .report_menu a:hover {
    background-color: white;
    color: #FF2400;
  }

